body{
  position: relative;
  background-color: rgb(0, 0, 0);
}
.main-container{
  width: 100%;
    min-height: calc(100vh - 200px);
    max-width: 1200px;
    padding-right: 350px;
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: autopx;
    margin-left: auto;
    
    
    }
.main1 {
  color: rgb(255, 255, 255);
  margin-left: 450px;
  font-family: "Open Sans", serif;
  
  }
  .top-bar-left>div {
    display: inline-block;
    padding: 5px 6px;
    border-radius: 15px;
    
    
    }
  .text {
    text-decoration:  none;
    padding: 5px 10px;
    color: aliceblue;

   }
   .top-text1{
    display: inline-block;

   }
    div>a :hover{
    background-color: rgba(255, 0, 0, 0.466);
    border-radius: 15px;
    padding: 5px 10px;
   }
   .container{
      border-radius: 25px;
      font-family: "Open Sans", serif;
      border: solid;
      border-color: rgba(37, 37, 37, 0.342);
      border-width: none;
      padding: 10px 10px;
      word-spacing: 1px;
      }
    .gif1{
      object-fit: cover;
      width: 100% !important;
      height: 250px;
      border: none;
      box-shadow: none;
      width: 250px;
      margin-left: 0px;
      border-radius: 20px;
      margin-top: 15px;
      }
      .discord {
        width: 80px;
        border-radius: 20px;
        margin-left: 1125px;
        }
        .tg {
          width: 70px;
          border-radius: 20px;
          position: relative;
          bottom: 73px;
          left: 1050px;
          
        }
        




 


